
body {
  text-align: center;
  background: url(images/logo.jpg);
  background-repeat: no-repeat;
  background-color: #1e1b12;
  background-position: 10px 5px;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font: 14px Arial;
}

#dealer {
  text-align: left;
  margin-top: 10px;
  display: inline-block;
  width: 250px;
  height: 120px;
  background-color: #292929;
  border: 1px solid #888;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#players {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 120px;
  padding: 10px;
  text-shadow: 1px 1px #000;
  text-align: center;
}

.card {
  padding: 10px;
  height: 100px;
 }

#stack {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  margin-top: 5px;
}

#players .player {
  background-color: #292929;
  display: inline-block;
  width: 250px;
  height: 120px;
  border: 1px solid #888;
  margin-right: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
}

.notify {
  position: absolute;
  font-weight: bold;
  background-color: #40A040;
  border: 1px solid #888;
  margin: 5px;
  padding: 2px 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

